:host {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: column;
    >img {
        height: 80px;
        cursor: pointer;
    }
    .stats {
        display: flex;
        flex-direction: row;
        .stats-box {
            margin: 5px;
            height: 50px;
            background: #607D8B;
            color: #fff;
            padding: 10px;
            width: 200px;
            display: flex;
            flex-direction: column;
            &.checked-in {
                background: #7fc35c;
            }
            .title {
                color: #fff;
            }
            .index {
                font-size: 1.5em;
                font-weight: 800;
            }
        }
    }
}